################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CAMM2/.vs
/CAMM2/obj
/CAMM2/bin
